# Main domain that all your subdomains point to.
COOKIE_DOMAIN="example.com"

# User names and password hashes
# Create the hashes with the password_hash php function
USERS="user1:$2y$10$A2TMxFnHw7MMRddkf4vlYeK3IsdRR9QxcCkuPV8dzYqAa6IYYdwIi user2:$2y$10$oHPXBbKN6vV2/cPPm0HYp.8dhtYLSaiReyBCwRhz4TcBE0dV3RDXO"
