<!doctype html>
<html lang="en">
	<head>
		<title>{block login}Login Required{/block}</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
	</head>
	<body>
		<main style="max-width:768px;margin:30px auto;">
			{block content}{/block}
		</main>
	<body>
</html>

